﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-9 col-sm-12">

    <!-- end property-slider -->
   @{
       Html.RenderAction("MakaleGetir", new { id = Model });
}

    <!-- end widget -->

    <br>
    <!-- end row -->

</div>
@{
    Html.RenderAction("SosyalAglar", "Anasayfa");


}
