﻿@{
    Layout = null;
}

@model  IEnumerable<SanalGezgin.Models.Makale> 

<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
        <div class="inner">

            <h3>

                @Model.Count()

            </h3>



            <p>Toplam Makale</p>
        </div>
        <div class="icon">

        </div>
        <a href="/makaleYonetim" class="small-box-footer"> Makalelere Git <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>