﻿@{
    Layout = null;
    
}

@model  IEnumerable<SanalGezgin.Models.Yorum> 

<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
        <div class="inner">
            <h3>@Model.Count()<sup style="font-size: 20px"></sup></h3>

            <p>Yorum</p>
        </div>
        <div class="icon">

        </div>
        <a href="/yorumYonetim" class="small-box-footer"> Yorumlara Git <em class="fa fa-arrow-circle-right"></em></a>
    </div>
</div>
