﻿@{
    Layout = null;
}

<!DOCTYPE html>

@model IEnumerable<SanalGezgin.Models.Iletisim>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Gelen Mesajlar</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>İletişim Ad Soyad</th>
                    <th>İletişim Mail </th>
                    <th>İletişim Konu</th>
                    <th>İletişim Mesajı</th>

                    <th>Mesajı Sil</th>
                </tr>
            </thead>
            @foreach (var iletisim in Model)
            {
                <tbody>
                    <tr>
                        <td>@iletisim.iletisimAdiSoyadi</td>
                        <td>@iletisim.iletisimMail</td>
                        <td>@iletisim.iletisimKonu</td>
                        <td>@iletisim.iletisimIcerik</td>

                        <td><a href="/iletisimPanel/Sil/@iletisim.iletisimId">Sil</a></td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
    <!-- /.box-body -->
</div>
