﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminMaster.cshtml";
}
<br />
<div class="row">

    <div class="box box-default">
        <div class="box-header with-border">
            <i class="fa fa-warning"></i>

            <h3 class="box-title">Hoşgeldiniz Sayın Editör ...</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i>Adminden Gelen Uyarı</h4>
                Editöre gelen bildirimler
            </div>


        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.col -->
    <!-- /.col -->
</div>
