﻿@{
    Layout = null;
}

 

<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="widget">
        <div class="widget-title">
            <h4>Takipte Kalın</h4>
            <hr>
        </div>
        <!-- end widget-title -->

        <div class="social-media-widget m30">
            <ul class="list-social clearfix">
                <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100013294111773&__mref=message_bubble"><i class="fa fa-facebook"></i> <small>12.042</small></a></li>
                <li class="twitter"><a href="https://twitter.com/SanalGezginNet"><i class="fa fa-twitter"></i> <small>67.221</small></a></li>
                <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i> <small>44.213</small></a></li>
                <li class="rss"><a href="#"><i class="fa fa-rss"></i> <small>22.551</small></a></li>
                <li class="pinterest"><a href="https://tr.pinterest.com/sanalgezgin/"><i class="fa fa-pinterest"></i> <small>33.122</small></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/profile/guided?trk=uno-choose-ge-no-intent&dl=no"><i class="fa fa-linkedin"></i> <small>55.123</small></a></li>
                <li class="youtube"><a href="https://www.youtube.com/watch?v=VHoyC7SCOEo"><i class="fa fa-youtube"></i> <small>44.112</small></a></li>
                <li class="instagram"><a href="https://www.instagram.com/sanalgezginnet/"><i class="fa fa-instagram"></i> <small>12.441</small></a></li>
            </ul>
        </div>
        <!-- end social -->
    </div>

    <div class="widget">
        <div class="widget-title">
            <h4>Popüler Konular</h4>
            <hr>
        </div>
        <!-- end widget-title -->

        <div class="review-posts m30">
            <div class="post-review">
                <div class="post-media entry">
                    <a href="http://www.teknolo.com/akilli-saat-alirken-dikkat-etmeniz-gereken-faktorler/" title="">
                        <img src="/Content/img/encokokunan/review_01.jpg" alt="" class="img-responsive">
                        <div class="magnifier">

                            <!-- end review-stat -->
                            <div class="hover-title">
                                <span>Detaya Git</span>
                            </div>
                            <!-- end title -->
                        </div>
                        <!-- end magnifier -->
                    </a>
                </div>
                <!-- end media -->
                <div class="post-title">
                    <h3><a href="http://www.teknolo.com/akilli-saat-alirken-dikkat-etmeniz-gereken-faktorler/" >Akıllı saat alırken nelere dikkat edilmeli.</a></h3>
                </div>
                <!-- end post-title -->
            </div>
            <!-- end post-review -->





        </div>
        <div class="review-posts m30">
            <div class="post-review">
                <div class="post-media entry">
                    <a href="http://www.webtekno.com/google/google-insansiz-araba-trafik-testi-video-h1648.html" title="">
                        <img src="/Content/img/encokokunan/review_02.jpg" alt="" class="img-responsive">
                        <div class="magnifier">

                            <!-- end review-stat -->
                            <div class="hover-title">
                                <span>Detaya Git</span>
                            </div>
                            <!-- end title -->
                        </div>
                        <!-- end magnifier -->
                    </a>
                </div>
                <!-- end media -->
                <div class="post-title">
                    <h3><a href="http://www.webtekno.com/google/google-insansiz-araba-trafik-testi-video-h1648.html">Sokakları gezen Google arabasını sizler için inceledik</a></h3>
                </div>
                <!-- end post-title -->
            </div>
            <!-- end post-review -->





        </div>
        <div class="review-posts m30">
            <div class="post-review">
                <div class="post-media entry">
                    <a href="http://www.milliyet.com.tr/pil-omrunu-en-fazla-tuketen-10-teknoloji-galeri-2182189/" title="">
                        <img src="/Content/img/encokokunan/review_03.jpg" alt="" class="img-responsive">
                        <div class="magnifier">

                            <!-- end review-stat -->
                            <div class="hover-title">
                                <span>Detaya Git</span>
                            </div>
                            <!-- end title -->
                        </div>
                        <!-- end magnifier -->
                    </a>
                </div>
                <!-- end media -->
                <div class="post-title">
                    <h3><a href="http://www.milliyet.com.tr/pil-omrunu-en-fazla-tuketen-10-teknoloji-galeri-2182189/">Batarya ömrünü hızlı tüketen uygulamalar</a></h3>
                </div>
                <!-- end post-title -->
            </div>
            <!-- end post-review -->





        </div>
        <div class="review-posts m30">
            <div class="post-review">
                <div class="post-media entry">
                    <a href="http://shiftdelete.net/android-uygulamalari" title="">
                        <img src="/Content/img/encokokunan/review_04.jpg" alt="" class="img-responsive">
                        <div class="magnifier">

                            <!-- end review-stat -->
                            <div class="hover-title">
                                <span>Detaya Git</span>
                            </div>
                            <!-- end title -->
                        </div>
                        <!-- end magnifier -->
                    </a>
                </div>
                <!-- end media -->
                <div class="post-title">
                    <h3><a href="http://shiftdelete.net/android-uygulamalari">Android için en iyi 10 uygulamayı sizler için seçtik.</a></h3>
                </div>
                <!-- end post-title -->
            </div>
            <!-- end post-review -->





        </div>
        <div class="review-posts m30">
            <div class="post-review">
                <div class="post-media entry">
                    <a href="http://shiftdelete.net/6000-metre-altinda-drone-ucuslari-yasaklandi-73480" title="">
                        <img src="/Content/img/encokokunan/review_05.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <div class="review-stat">

                            </div>
                            <!-- end review-stat -->
                            <div class="hover-title">
                                <span>Detaya Git</span>
                            </div>
                            <!-- end title -->
                        </div>
                        <!-- end magnifier -->
                    </a>
                </div>
                <!-- end media -->
                <div class="post-title">
                    <h3><a href="http://shiftdelete.net/6000-metre-altinda-drone-ucuslari-yasaklandi-73480">İstanbul'da Drone uçuşları yasaklandı..</a></h3>
                </div>
                <!-- end post-title -->
            </div>
            <!-- end post-review -->





        </div>
        <!-- end review-posts -->






    </div>
    <!-- end review-posts -->
</div>


<!-- end widget -->
