﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>Sanal Gezgin</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/Content/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/images/apple-touch-icon-152x152.png">

    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="/Content/style.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/Content/css/custom.css">

    <!--[if IE]>

    <![endif]-->

</head>

<body>

    <div class="left-menu hidden-sm hidden-md hidden-xs">
        <ul class="dm-social">
            <li class="facebookbg"><a href="https://www.facebook.com/profile.php?id=100013294111773&__mref=message_bubble" class="fa fa-facebook" data-toggle="tooltip" data-placement="right" title="Facebook">Facebook</a></li>
            <li class="googlebg"><a href="#" class="fa fa-google-plus" data-toggle="tooltip" data-placement="right" title="Google+">Google+</a></li>
            <li class="twitterbg"><a href="https://twitter.com/SanalGezginNet" class="fa fa-twitter" data-toggle="tooltip" data-placement="right" title="Twitter">Twitter</a></li>
            <li class="pinterestbg"><a href="https://tr.pinterest.com/sanalgezgin/" class="fa fa-pinterest" data-toggle="tooltip" data-placement="right" title="Pinterest">Pinterest</a></li>
            <li class="linkedinbg"><a href="https://www.linkedin.com/profile/guided?trk=uno-choose-ge-no-intent&dl=no" class="fa fa-linkedin" data-toggle="tooltip" data-placement="right" title="Linkedin">Linkedin</a></li>
            <li class="rssbg"><a href="#" class="fa fa-rss" data-toggle="tooltip" data-placement="right" title="RSS">RSS</a></li>
            <li class="share">
                <a href="#" class="fa fa-share-alt" data-toggle="tooltip" data-placement="right" title="91k Share"></a>
            </li>
        </ul>
    </div>

    <!-- START SITE -->

    <div id="wrapper">
        <div class="logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <a class="navbar-brand" href="/"><img src="/Content/images/logo.png" alt=""></a>
                    </div>
                    <!-- end col -->
                    <div class="col-md-9 col-sm-12">
                        <div class="ads-widget clearfix">
                            <a href="#"><img src="/Content/upload/banner_03.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <!-- end ads-widget -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end logo-wrapper -->

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="container-full">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/"><i class="fa fa-home"></i> Anasayfa</a></li>
                                @{
                                    Html.RenderAction("KategoriGetir", "Anasayfa");


                                }
                                <li><a href="/ekibimiz">Ekibimiz</a></li>
                                <li><a href="/iletisim">İletişim</a></li>

                            </ul>
                            <ul class="nav navbar-right searchandbag">

                                <li>
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="form-control input-lg" placeholder="Ara.." />

                                            <button class="btn btn-primary btn-lg" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>

                                        </div>
                                    </div>
                                </li>

                            </ul>


                            <!--/.container-fluid -->
                        </div>
                </div>
                </nav>
            </div>
            <!-- end container -->
        </header>
        <!-- end header -->

        <div class="container sitecontainer bgw">
            
            @{
                Html.RenderAction("Index", "gelismeler");


            }

            <!-- end row -->

            <div class="row">


                <!-- Bu Kısım Değişecek Kısım-->
                @RenderBody()


                





            </div>



            <!-- end row -->
        </div>
        <!-- end container -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Site Linkleri</h4>
                                <hr>
                            </div>
                            <!-- end widget-title -->

                            <div class="links-widget m30">
                                <ul class="check">
                                    <li><a href="#">Anasayfa</a></li>
                                    <li><a href="#">İncelemeler</a></li>
                                    <li><a href="#">İnternet</a></li>
                                    <li><a href="#">Oyun</a></li>
                                    <li><a href="#">Mobil</a></li>
                                    <li><a href="#">Programlama</a></li>
                                    <li><a href="#">Sosyal Medya</a></li>
                                    <li><a href="#">Ekibimiz</a></li>
                                    <li><a href="#">İletişim</a></li>
                                </ul>
                            </div>
                            <!-- end links -->
                        </div>
                        <!-- end widget -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Community</h4>
                                <hr>
                            </div>
                            <!-- end widget-title -->

                            <div class="links-widget m30">
                                <ul class="check">
                                    <li><a href="#">Forums</a></li>
                                    <li><a href="#">Send us a tip!</a></li>
                                    <li><a href="#">Add to our database</a></li>
                                    <li><a href="#">Write a review</a></li>
                                    <li><a href="#">Report site issue</a></li>
                                    <li><a href="#">Our Authors</a></li>
                                    <li><a href="#">Site Categories</a></li>
                                </ul>
                            </div>
                            <!-- end links -->
                        </div>
                        <!-- end widget -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Sosyal Medyalarımız</h4>
                                <hr>
                            </div>
                            <!-- end widget-title -->

                            <div class="links-widget m30">
                                <ul class="sociallinks">
                                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i> Vimeo</a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
                                    <li><a href="#"><i class="fa fa-maxcdn"></i> MaxCDN</a></li>
                                </ul>
                            </div>
                            <!-- end links -->
                        </div>
                        <!-- end widget -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Haberler & Yenilikler</h4>
                                <hr>
                            </div>
                            <!-- end widget-title -->

                            <div class="newsletter-widget m30">
                                <p>Mail listemize kaydolun Haberler ve Yeniliklerden haberdar olun.</p>
                                <form class="form-inline" method="post" role="form">
                                    <div class="input-group form-group">
                                        <input type="text" name="email" placeholder="Eposta Adresiniz..." required class="form-control" />
                                    </div>
                                    <input type="submit" value="Kaydol" class="btn btn-primary" />
                                </form>

                                <hr>


                            </div>
                            <!-- end mini-widget -->
                        </div>
                        <!-- end widget -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- end footer -->

        <div id="sitefooter-wrap">
            <div id="sitefooter" class="container">
                <div id="copyright" class="row">
                    <div class="col-md-6 col-sm-12 text-left">
                        <p class="copyright-notice"><span class="fa fa-copyright"></span> 2016 SanalGezgin - Tüm Hakları Saklıdır. </p>
                       
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <ul class="list-inline text-right">
                            
                            <li><a class="topbutton" href="#">Yukarı Çık <i class="fa fa-angle-up"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end wrapper -->
    <!-- END SITE -->

    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/bootstrap.js"></script>
    <script src="/Content/js/plugins.js"></script>
    <!-- FlexSlider JavaScript
    ================================================== -->
    <script src="/Content/js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function() {
            $('#property-slider .flexslider').flexslider({
                animation: "fade",
                slideshowSpeed: 6000,
                animationSpeed: 1300,
                directionNav: true,
                controlNav: false,
                keyboardNav: true
            });
        });
    </script>

</body>

</html>



