﻿@{
    Layout = null;
}
@model IEnumerable<SanalGezgin.Models.Editor>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Editörler</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Editör Kullanıcı Adı</th>
                    <th>Editör Adı Soyadı</th>
                    <th>Editör Mail Adresi</th>
                    <th>Editör Kayıt Tarihi</th>
                    <th>Editör Güncelle</th>
                    <th>Editör Sil</th>
                </tr>
            </thead>
            @foreach (var editor in Model)
            {
            <tbody>
                <tr>
                    <td>@editor.editorKadi</td>
                    <td>@editor.editorAdiSoyadi</td>
                    <td>@editor.editorMail</td>
                    <td>@editor.editorTarih.Value.ToString("dd.MM.yyyy")</td>
                    <td>Güncelle</td>
                    <td><a href="/editor/Sil/@editor.editorId">Sil</a></td>
                </tr>
                
            </tbody>
            }
        </table>
    </div>
    <!-- /.box-body -->
</div>