﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminMaster.cshtml";
}

<div class="box box-info">
<div class="box-header with-border">
    <h3 class="box-title">Editör Ekle</h3>
</div>
<!-- /.box-header -->
<!-- form start -->
    <form class="form-horizontal" action="/editor/EditorEkle" method="post">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Adı Soyadı :</label>

                <div class="col-sm-10">
                    <input name="editorAdiSoyadi" type="text" class="form-control" id="inputEmail3" placeholder="Adı Soyadı">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Kullanıcı Adı :</label>

                <div class="col-sm-10">
                    <input name="editorKadi" type="text" class="form-control" id="inputEmail3" placeholder="Kullanıcı Adı">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">E-Posta Adresi :</label>

                <div class="col-sm-10">
                    <input name="editorMail" type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Editör Şifre :</label>

                <div class="col-sm-10">
                    <input name="editorSifre" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

            <button type="submit" class="btn btn-info pull-right">Ekle</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
@{
    Html.RenderAction("EditorGetir", "editor");


}

