﻿@{
    Layout = null;
}

<!DOCTYPE html>

<div class="row hidden-xs">
    <div class="col-md-12">
        <div class="news-ticker clearfix">
            <div class="news-title">
                <h3>Son Gelişmeler</h3>
            </div>
            <ul id="ticker">
                <li><a href="#" title="">Akıllı Saat Alırken Nelere Dikkat Edilmeli [..] - <span>Temmuz 18, 2016</span></a></li>
                <li><a href="#" title="">Bir web sitesine mi ihtiyacınız var [..] - <span>Temmuz 29, 2016</span></a></li>
            </ul>
            <div class="random clearfix">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="random-article">
                        <i class="fa fa-random"></i>
                    </span>
                </a>
            </div>
            <!-- end random -->
        </div>
        <!-- end news-ticker -->
    </div>
    <!-- end col -->
</div>
