﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminMaster.cshtml";
}

@model IEnumerable<SanalGezgin.Models.Makale>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Makaleler</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Makale Başlık</th>
                    <th>Makale Kategori</th>
                    <th>Yazan Editör</th>
                    <th>Makale Tarihi</th>
                    <th>Güncelle</th>
                    <th>Makale Sil</th>
                </tr>
            </thead>
            @foreach (var makale in Model)
            {
                <tbody>
                    <tr>
                        <td>@makale.makaleBaslik</td>
                        <td>@makale.Kategori.kategoriAdi</td>
                        <td>@makale.Editor.editorAdiSoyadi</td>
                        <td>@makale.makaleTarih.Value.ToString("dd.MM.yyyy")</td>
                        <td><a href="/makaleDuzenle/makaleDuzenle/@makale.makaleId">Güncelle</a></td>
                        <td><a href="/makaleYonetim/Sil/@makale.makaleId">Sil</a></td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
    <!-- /.box-body -->
</div>
