﻿@{
    ViewBag.Title = "MakaleDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SanalGezgin.Models.Makale



    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12 m22 single-post">
            <div class="widget">

                <div class="colorfulcats">
                    <a href="#"><span class="label label-primary">@Model.Editor.editorAdiSoyadi</span></a>
                    <a href="#"><span class="label label-warning">@Model.Kategori.kategoriAdi</span></a>
                    <span class="label label-success">@Model.makaleBaslik
                    </span>
                    
                </div>
                <h3>@Model.makaleBaslik</h3>
                <div class="post-sharing">
                    <ul class="list-inline">
                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Facebook' da Paylaş</span></a></li>
                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Twitter' da Paylaş</span></a></li>
                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"> &nbsp;&nbsp;Google+' da Paylaş</i></a></li>
                    </ul>
                </div>
                <div class="large-widget m30">
                    <div class="post clearfix">

                        <div class="title-area">
                           

                            <!-- end meta -->

                            <!-- end post-sharing -->
                        </div><!-- /.pull-right -->

                        <div class="post-media">
                            <a href="single.html">
                                <img alt="" src="~/Content/img/makale/@Model.resim1" class="img-responsive">
                            </a>
                        </div>

                    </div><!-- end post -->

                    <div class="post-desc">




                        <p>@Model.makaleIcerik </p>
                        
                    
                        





                        <div class="post-sharing">
                            <ul class="list-inline">
                                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Facebook' da Paylaş</span></a></li>
                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Twitter' da Paylaş</span></a></li>
                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"> &nbsp;&nbsp;Google+' da Paylaş</i></a></li>
                            </ul>
                        </div><!-- end post-sharing -->
                    </div><!-- end post-desc -->

                    <div class="post-bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="tags">
                                    <h4>Tags</h4>
                                    <a href="#">cinema</a>
                                    <a href="#">club</a>
                                    <a href="#">html5</a>
                                    <a href="#">css3</a>
                                    <a href="#">web design</a>
                                </div><!-- end tags -->
                            </div><!-- end col -->

                            <div class="col-md-4 hidden-xs">
                                <div class="post-share">
                                    <div class="customshare">
                                        <span class="list">
                                            <strong>
                                                <i class="fa fa-share-alt"></i> 980
                                                <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                            </strong>
                                        </span>
                                    </div>
                                </div><!-- end share -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end bottom -->

                    <!-- end post-pager -->

                    
                
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Yorumlar.....</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="comments">
                            <div class="well">
                            
                            
                            @foreach (var yorum in Model.Yorums)
                                    {
                                <div class="media">
                                    
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object img-circle" src="/Content/upload/avatar_02.png" alt="Generic placeholder image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">@yorum.yorumAdiSoyadi</h4>
                                            <div class="time-comment clearfix">
                                                <small class="pull-left">@yorum.eklenmeTatihi.Value.ToString("dd.MM.yyyy")</small>
                                                
                                            </div><!-- end time-comment -->
                                            <p>@yorum.yorumIcerik</p>
                                        </div>

                                    
                                </div> 
                                    }
                            </div><!-- end well -->
                        </div><!-- end collapse -->
                    </div>
                
                
                
                
                <!-- end authorbox -->

                    <!-- end row -->

                    <!-- end row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h4>Yorum Yapın</h4>
                                    <hr>
                                </div><!-- end widget-title -->

                             
                            

                                <div class="commentform">
                                    <form class="row" action="/Makale/YorumYaz" method="post">
                                        <div class="col-md-12 col-sm-12">
                                            <label>Yorumunuz <span class="required">*</span></label>
                                            <textarea name="yorumIcerik" class="form-control" placeholder=""></textarea>
                                        </div>
                                        <input type="hidden" name="makaleId" value="@Model.makaleId" />
                                        <div class="col-md-4 col-sm-12">
                                            <label>İsim Soyisim <span class="required">*</span></label>
                                            <input name="yorumAdiSoyadi" type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <label>E-mail <span class="required">*</span></label>
                                            <input name="yorumMail" type="email" class="form-control" placeholder="">
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <label>Website</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <input type="submit" value="Yorumu Gönder" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            
                            
                            <!-- end newsletter -->
                            </div><!-- end widget -->

                        </div><!-- end col -->




                       
                    </div><!-- end row -->

                </div><!-- end large-widget -->
            </div><!-- end widget -->
        </div>
                
    
                @{
                            Html.RenderAction("SosyalAglar", "Anasayfa");


                }<!-- end col -->
        <!-- end col -->
    </div><!-- end row -->

</div>
