﻿@{
    Layout = null;
}

<!DOCTYPE html>
@model IEnumerable<SanalGezgin.Models.Kategori>

<select class="form-control" name="kategoriId">

    @foreach (var kategori in Model)
    {
        <option value="@kategori.kategoriId">@kategori.kategoriAdi</option>
    }
</select>