﻿@{
    Layout = null;
}

<!DOCTYPE html>

@model IEnumerable<SanalGezgin.Models.Makale>
<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-envelope"></i>

        <h3 class="box-title">Makale Yaz</h3>
        <!-- tools box -->
        <!-- /. tools -->
    </div>
    <div class="box-body">
        <form action="/makaleEkle/makaleYaz" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="input" class="form-control" name="makaleBaslik" placeholder="Makale Konusu:">
            </div>

            <div class="form-group">
                <label>Kategori Seçiniz</label>
                

                @{
                    
                    Html.RenderAction("kategoriGetir", "makaleEkle");


                }
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Makale Resmi</label>
                <input type="file" name="resim1">
                <input type="hidden" value="@Session["editorId"]" name="editorId">

            </div>
            <br />
            <div>
                <textarea name="makaleIcerik" placeholder="Makale İçeriği" style="width: 100%; height: 325px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </div>
            <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default">
                    Gönder
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </form>
    </div>
    
</div>
